<%- partial('components/kira-image') %>
<div class="kira-post">
	<article>
		<%- partial('components/post-cover', { page: page, theme: theme }) %>
		<div class="kira-post-meta kira-rainbow" style="margin:10px 0!important;">
			<a><i class="kirafont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
			<a><i class="kirafont icon-edit-fill"></i><%= wordcount(page.content) %> 字</a>
			<a><i class="kirafont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
		</div>
		<%- image_auto_lazyload(page.content) %>
	</article>

	<% if (!page.reprinted) { %>
		<%- partial('components/copyright') %>
	<% } %>
	
	<% if (page.layout === 'post') { %>
		<%- partial('components/post-nav', { page: page, site: site }) %>
	<% } %>
	<div class="kira-post-meta kira-rainbow">
		<% if (page.categories && page.categories.length){ %>
			<%- list_categories(page.categories, {
				show_count: false,
				class: 'kirafont icon-container-fill ',
				style: 'none',
				separator: ''
			}) %>
		<% } %>
		<% if (page.tags && page.tags.length){ %>
			<%- list_tags(page.tags, {
				show_count: false,
				class: 'kirafont icon-tag-fill ',
				style: 'none',
				separator: ' '
			}) %>
		<% } %>
	</div>
	<% if (theme.copyableCodeblock) { %>
		<script src="/js/kira-code-copy.js"></script>
	<% } %>
	<% if (page.comments){ %>
	<div class="kira-post-footer">
		<%- partial('components/comments/waline') %>
	</div>
	<% } %>
</div>
