<%- css("css/kira-friends") %>
<% Object.keys(theme.friends).forEach(function(category) { %>
    <h2><%= category %></h2>
    <div style="display: flex; flex-wrap: wrap; width: 100%; position: relative;">
        <% theme.friends[category].forEach(friend => { %>
            <div class="kira-friends-friendWrapper">
                <a href="<%= friend.link %>" target="_blank" class="mdui-ripple">
                    <div class="kira-friends-avatarWrapper" style="height: 65px; min-width: 65px; width: 65px;">
                        <img data-src="<%= friend.avatar %>" class="disabled-kira-image lazyload" alt="<%= friend.name %>"/>
                    </div>
                    <div class="kira-friends-blogDetails" style="width: 100%;">
                        <div class="kira-friends-blogName"><%= friend.name %></div>
                        <div class="kira-friends-blogDescription"><%= friend.description %></div>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
    <hr />
<% }) %>
