<%# 
    文章封面组件
    提取自 post.ejs 和 normal.ejs 的公共代码
    
    参数:
    - page: 页面对象，包含 cover 和 title 属性
    - theme: 主题配置对象，包含 background 属性
%>
<% if (page.cover) { %>
<div class="kira-post-cover">
    <img
        data-src="<%- page.cover %>"
        data-sizes="auto"
        alt="<%= page.title %>"
        class="lazyload kira-post-cover-image disabled-kira-image"
    />
    <h1><%= page.title %></h1>
</div>
<% } else { %>
<div
    class="kira-post-cover"
    style="padding-bottom: '<%= theme.background.height / theme.background.width * 100 %>%'"
>
    <img
        data-src="<%- theme.background.path %>"
        data-sizes="auto"
        alt="<%= page.title %>"
        class="lazyload kira-post-cover-image disabled-kira-image"
    />
    <h1><%= page.title %></h1>
</div>
<% } %>
